# Host config

# MySQL Details
MYSQL_ROOT_PASSWORD=docker
MYSQL_DATABASE=docker
MYSQL_USER=docker
MYSQL_PASSWORD=docker

# PHP
PHP_MEMORY_LIMIT=2G

## Xdebug config
XDEBUG_IDE_KEY=PHPSTORM
XDEBUG_CONFIG=remote_host=10.254.254.254
XDEBUG_ENABLE=true